mixin nav(className, items, activeIndex)
    nav(class=className)
        .container
            ul(class="#{className}__list")
                each item, index in items
                    li(class="#{className}__item" + ((activeIndex == index) ? " #{className}__item-active" : ''))
                        a(href="#" class="#{className}__link")= item

+nav('nav', ['Планшеты', 'Мобильные телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'], 1)


